@import "bootstrap-skin";

body {
    padding-top: 60px;
    padding-bottom: 40px;
	overflow-x: hidden;
}

@import "bootstrap-responsive";

a.brand {
/*    background: url("../img/zf2-logo.png") no-repeat scroll 0 10px transparent;*/
    margin-left: 0;
    padding: 8px 20px 12px 40px;
}

div#loader {
	margin-top: 10px;
}

div#content {
	padding-left: 5px;
	padding-right: 5px;
}

span.label.language {
	min-height: 15px;

	> span {
		
	}
	> button.close {
		float: none;
		position: relative;
		top: -1px;
		right: 0;
	}
}

div#word-edit {
	width: 100%;
	> div {
		position: relative;
		float: right;
		max-width: 100%;
		z-index: 1;
		
		> div#submit-state {
			position: absolute;
			right: 0;
		}		
	}
}
form#form-edit {
	> fieldset {
		> div.control-group {
			> .control-label {
				width: 120px;
			}
			> .controls {
				margin-left: 140px;
			}
		}
	}
}

div#captcha-img {
	width: 100%;
	margin: 0;
	padding: 0;
}
